@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* shared button */
.join-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background: #F00;
    padding: 16px 32px;
    cursor: pointer;
}

/* Banner section  */

.banner {
    background: linear-gradient(#070211, rgba(7, 2, 17, 0.00)), url("../resources/Banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto 0px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 177px 530px 0px;
    margin-bottom: 0px;
}

#banner-description {
    color: #FFF;
    text-align: center;
    font-size: 68px;
    max-width: 600px;
    font-weight: 900;
    padding: 16px 344px 177px;
    margin-top: 0px;
}

/* OFF section */

.percent-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 84px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    margin-top: 0px;
}

.new-year-photo {
    display: block;
    margin: 48px auto 0px;
    width: 802.9px;
    height: 500px;
}

/* Welcome section */

.welcome {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #070211, rgba(7, 2, 17, 0.00)), url('../resources/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 120px auto 0px;
    border-radius: 16
}

#year-2024 {
    margin-top: 60px;
}

.welcome-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    max-width: 642px;
    padding: 70px 0px 0px 10px;
    margin-bottom: 0px;
}

.welcome-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    padding: 24px 0px 0px 10px;
    margin-bottom: 0px;
}

.join {
    padding: 48px 0px 0px 20px;
}

/* Event Details section  */

.event-details {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto 0px;
    border-radius: 16px;
}

.info {
    text-align: center;
    padding: 100px 365px 0px 364px;
    max-width: 575px;
    max-height: 100px;
}

.event-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.event-description {
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

#event-join-button {
    padding: 48px auto 110px;
}

/* Offer section */

.offer {
    background: #FFF;
    width: 1300px;
    margin: 120px auto 0px;
    display: flex;
    align-items: center;
}

.best-offer #best-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.best-offer h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 0px;
}

.best-offer #best-offer-description {
    max-width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 22px 0px 0px;
}

.offer-img {
    border-radius: 100%;
    border: 15px solid #F00;
    padding: 49px;
    margin: 0px 118px 0px 70px;
}

.happy-new-year h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}

.happy-new-year p {
    max-width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0px 0px;
}

.happy-new-year img {
    width: 140px;
    height: 140px;
    margin: 43px 0px 0px;
}

/* Sale section */


/* Gift section */
#gift-heading {
    background: #FFF;
    width: 1300px;
    margin: 120px auto 0px;
}

.gift-sec-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0
}

#gift-heading h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 0px;
}

.gift-sec-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 22px 0px 0px;
}

.gift-img .gift-img-1 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle3.png"), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    transition: 0.5s;
}

.gift-img .gift-img-2 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle4.png"), lightgray 50% / cover no-repeat;
    transition: 0.2s;
}

.gift-img .gift-img-3 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle5.png"), lightgray 50% / cover no-repeat;
    transition: 0.2s;
}

.gift-img .gift-img-4 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle6.png"), lightgray -195.366px 0px / 156.077% 100% no-repeat;
    transition: 0.2s;
}

.gift-img .gift-img-5 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle7.png"), lightgray 50% / cover no-repeat;
    transition: 0.2s;
}

.gift-img .gift-img-6 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url("../resources/Rectangle8.png"), lightgray 50% / cover no-repeat;
    transition: 0.2s;
}

.gift-img-1:hover {
    opacity: 0.6;
}

.gift-img-2:hover {
    opacity: 0.6;
}

.gift-img-3:hover {
    opacity: 0.6;
}

.gift-img-4:hover {
    opacity: 0.6;
}

.gift-img-5:hover {
    opacity: 0.6;
}

.gift-img-6:hover {
    opacity: 0.6;
}

.gift-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 45px 0px;
    justify-content: center;
}

/* Subscribe section */

.subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto 0px;
}

.sub-icon {
    width: 150px;
    height: 150px;
    padding: 80px 576px 0px;
}

.sub-container h4 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0px 0px 0px;
}

.sub-container p {
    width: 896px;
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 22px auto 0px;
}

.sub-container form {
    margin: 48px 336px 80px;
    position: relative;

}

#input-tag {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    border: none;
    background: #FFF;
    box-sizing: border-box;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 477px 25px 30px;
}

.sub-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
}

/* Footer Part */
footer {
    background: #070211;
    margin-top: 120px
}

footer p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.number, .website{
    display: flex;
    align-items: center;
    gap: 16px;
}

.number img,.website img {
    width: 24px;
    height: 24px;
}

.contact-info {
    padding: 120px 17% 0px 8%;
    display: flex;
    justify-content: space-between;
}

hr {
    width: 82%;
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    margin: 50px 8% 48px;
}

.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-links img {
    width: 64px;
    height: 64px;
}

.copyright {
    padding: 2px 17% 120px 8%;
    display: flex;
    justify-content: space-between;
}